/* top navigation bar - file, menu */
.top-nav {
    -fx-padding: 5px;
}

.separator {
    -fx-background-color: gray;/* Gray color */
}

/* styles for side panel */
.side-panel {
    -fx-background-color: linear-gradient(to top right, white, cornsilk);
}

/* styles for title */
.app-title {
    -fx-max-width: 150px;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #333;
}
.app-label {
    -fx-padding: 15 20 15 20;
    -fx-spacing: 25px;
}

.side-panel-nav {
    -fx-font-size: 15px;
    -fx-background-color: gainsboro;
    -fx-padding: 5 5 5 10;
}
.switch-label {
    -fx-min-width: 270px;
    -fx-font-size: 15px;
    -fx-background-color: gainsboro;
    -fx-padding: 10;
    -fx-alignment: center;
}
.switch-label:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.9;
}

/*side panel navigation */
.nav-label {
    -fx-padding: 0 10 0 10;
    -fx-text-fill: black;
    -fx-cursor: hand;
}
.nav-label:hover {
    -fx-text-fill: rgba(0,0,0,0.5);
    -fx-underline: true;
}
/* Active state styling */
.nav-label.active {
    -fx-text-fill: rgba(0,0,0,0.8);
    -fx-underline: true;
    -fx-font-weight: bold;
}
.dropdown-box {
    -fx-pref-height: 50px;
    -fx-font-size: 15px;
    -fx-padding: 10 15 15 15 px;
}
.dropdown {
    -fx-padding: 10px;
}

.zoom-button {
    -fx-background-color: #f4f4f4;
    -fx-padding: 5px;
    -fx-border-color: #333;
    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.zoom-button:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}

.legend-header {
    -fx-padding: 0 0 0 8px;    /* left padding */
    -fx-spacing: 12px;         /* spacing between titleLabel and titleIcon */
    -fx-cursor: hand;
}

.legend-pane {
    -fx-pref-width: 165px; /* Limit size to avoid large appearance */
    -fx-pref-height: 20px;
    -fx-background-color: #f4f4f4;
    -fx-border-color: #333;
    -fx-border-width: 1.5px;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
    -fx-spacing: 5px;
    -fx-background-radius: 4px;
}

.legend-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0,0,0,0.8);
}

/* hamburger icon */
.legend-title-icon {
    -fx-font-size: 14px;
    -fx-padding: 2,0,0,0;
    -fx-text-fill: rgba(0,0,0,0.8);
}

/* Style the content box */
.legend-content {
    -fx-background-color: white;
    -fx-padding: 5px;
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

.legend-item {
    -fx-padding: 3px;
}

/* Styles for the color indicator in the legend */
.legend-circle {
    -fx-stroke: #333; /* Add a border around the circle */
    -fx-stroke-width: 0.5px;
}

.thresholdSlider {
    -fx-padding: 0 20px 20px 20px; /* padding around everywhere but top */
}

.thresholdSliderLabel {
    -fx-font-size: 16px;
    -fx-padding: 0 20px 5px 20px;
}