/* styles for menu bar */
.top-nav {
    -fx-padding: 5px;
}

/* styles for side panel */
.side-panel {
    -fx-padding: 10;
    -fx-background-color: #f4f4f4;
    -fx-padding: 20px;
}

/* styles for title */
.app-title {
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-text-fill: #333;
}
.dropdown-label {
    -fx-font-size: 15px;
}
.dropdown {
    -fx-max-width: 200px;
}
.legend-header {
    -fx-padding: 0 0 0 8px;    /* left padding */
    -fx-spacing: 12px;          /* spacing between titleLabel and titleIcon */
    -fx-cursor: hand;
}

.legend-pane {
    -fx-max-width: 120px; /* Limit size to avoid large appearance */
    -fx-max-height: 20px;
    -fx-background-color: #f4f4f4;
    -fx-border-color: #333;
    -fx-border-width: 1.5px;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
    -fx-spacing: 5px;
    -fx-background-radius: 4px;
    -fx-translate-x: -20px;
    -fx-translate-y: 20px;
}

.legend-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0,0,0,0.8);
}

.legend-title-icon {
    -fx-font-size: 14px;
    -fx-padding: 1,0,0,0;
    -fx-text-fill: rgba(0,0,0,0.8);
}

/* Style the content box */
.legend-content {
    -fx-background-color: white;
    -fx-padding: 5px;
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

.legend-item {
    -fx-padding: 2px;
}
/* Hidden initially */
.legend-content.collapsed {
    -fx-max-height: 0;
    -fx-opacity: 0;
    -fx-padding: 0;
}

/* Expanded content */
.legend-content.expanded {
    -fx-max-height: 100px;
    -fx-opacity: 1;
    -fx-padding: 5px;

}
